<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.me.share">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <!-- shareSDK -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >

            <intent-filter>
                <data android:scheme="tencent1106262092" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data android:name="AuthorizeAdapter" android:value="com.dongao.share.adapter.ShareAuthorizeAdapter" />

            <meta-data android:name="Mob-AppKey"  android:value="1c81ada37b39b"/>
            <meta-data android:name="Mob-AppSecret" android:value="f70b872bc42e5c940dbd7d93157e61be"/>
        </activity>
    </application>

</manifest>
